@using Model.EF;
@using System.Globalization;
@using Model.DAO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<sach> listBookNewest = ViewData["listBookNewest"] as List<sach>;
    List<sach> listBookTopSell = ViewData["listBookTopSell"] as List<sach>;
}
@section jsFooter{
    <script src="~/Assets/Client/js/controller/shopController.js"></script>
}
<!-- slider Area Start -->
<div class="slider-area">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/Assets/Client/img/slider/2.jpg" alt="" title="#slider-direction-1" />
            <img src="~/Assets/Client/img/slider/1.jpg" alt="" title="#slider-direction-2" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="text-center slider-direction">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">MỪNG NGÀY NHÀ GIÁO VIỆT NAM</h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">Giảm giá trực tiếp 50K cho hóa đơn trên 200K</p>
            </div>
            <!-- layer 3 -->
            <div class="layer-3">
                <a href="#" class="title-3">Xem thêm</a>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">HỘI SÁCH CUỐI TUẦN</h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">Mua sắm phá giá - 11/11</p>
            </div>
            <!-- layer 3 -->
            <div class="layer-3">
                <a href="#" class="title-3">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- Online Banner Area Start -->
<div class="online-banner-area">
    <div class="container">
        <div class="banner-title text-center">
            <h2>NHÀ SÁCH <span>WRITER</span></h2>
            <p>
                Nhà Sách Writed là cửa hàng sách lớn nhất trên thế giới có rất nhiều
                sách phổ biến và sách hàng đầu được trình bày ở đây. Các tác giả
                hàng đầu ở đây chỉ cần đăng ký địa chỉ email của bạn và được cập
                nhật với chúng tôi.
            </p>
        </div>
        <div class="row">
            <div class="banner-list">
                @for (var i = 0; i < 3; i++)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-banner">
                            <a href="@Url.Action("SingleProduct", "Shop", new {id =listBookTopSell[i].maSach})">
                                <img alt="img" src="@listBookTopSell[i].hinhAnh" />
                            </a>
                            <div class="banner-bottom text-center">
                                <a href="#">TOP SÁCH BÁN CHẠY 2019</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Online Banner Area End -->
<!-- Featured Product Area Start -->
<div class="featured-product-area section-padding">
    <h2 class="section-title">SÁCH NỔI BẬT</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-menu">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="first-item active">
                            <a href="#arrival"
                               aria-controls="arrival"
                               role="tab"
                               data-toggle="tab">SÁCH MỚI</a>
                        </li>
                        <li role="presentation">
                            <a href="#sale"
                               aria-controls="sale"
                               role="tab"
                               data-toggle="tab">SÁCH BÁN CHẠY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-list tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="arrival">
                    <div class="featured-product-list indicator-style">
                        @for (var i = 0; i < listBookNewest.Count; i++)
                        {
                            <div class="single-p-banner">
                                <div class="col-md-3">
                                    <div class="single-banner">
                                        <div class="product-wrapper">
                                            <a href="@Url.Action("SingleProduct", "Shop", new {id =listBookNewest[i].maSach})" class="single-banner-image-wrapper">
                                                <img alt="" src="@listBookNewest[i].hinhAnh" />
                                            </a>
                                            <div class="product-description">
                                                <div class="functional-buttons">
                                                    <a title="Thêm vào giỏ hàng " href="#" class="add-item-to-cart" data-id="@listBookNewest[i].maSach">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" title="Thêm vào danh sách yêu thích" class="add-item-to-wishlist" data-id="@listBookNewest[i].maSach">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                    @{
                                                        var target = "#productModal" + listBookNewest[i].maSach;
                                                    }
                                                    <a href="#"
                                                       title="Xem nhanh"
                                                       data-toggle="modal"
                                                       data-target="@target">
                                                        <i class="fas fa-compress-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @if (listBookNewest[i].khuyenMai > 0)
                                        {
                                            <div style="width: 15%; z-index: 999; position: absolute; top: 0; right: 0;">
                                                <img src="~/Assets/Client/img/sale.png" alt="" />
                                                <p style="font-size: 14px; position: absolute; left: 15%; top: 55%; transform: translate(0, -50%); color: white;">
                                                    @listBookNewest[i].khuyenMai%
                                                </p>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px;">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookNewest[i].maSach})">@listBookNewest[i].tenSach </a>
                                                </div>
                                                <div style="color: #32b5f3;" class="price-2">
                                                    @{var newPrice = (listBookNewest[i].gia * 1000) - (listBookNewest[i].gia * 1000 * listBookNewest[i].khuyenMai / 100);}
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", newPrice)đ
                                                    <span style="color: black;" class="old-price">
                                                        @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookNewest[i].gia * 1000)đ
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        @if (listBookNewest[i].khuyenMai == 0)
                                        {
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookNewest[i].maSach})">
                                                        @listBookNewest[i].tenSach
                                                    </a>
                                                </div>
                                                <div style="color: #32b5f3" class="price-2">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookNewest[i].gia * 1000)<span>đ</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-banner">
                                        <div class="product-wrapper">
                                            <a href="@Url.Action("SingleProduct", "Shop", new {id =listBookNewest[++i].maSach})" class="single-banner-image-wrapper">
                                                <img alt="" src="@listBookNewest[i].hinhAnh" />
                                            </a>
                                            <div class="product-description">
                                                <div class="functional-buttons">
                                                    <a title="Thêm vào giỏ hàng " href="#" class="add-item-to-cart" data-id="@listBookNewest[i].maSach">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" title="Thêm vào danh sách yêu thích" class="add-item-to-wishlist" data-id="@listBookNewest[i].maSach">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                    @{
                                                        var target1 = "#productModal" + listBookNewest[i].maSach;
                                                    }
                                                    <a href="#"
                                                       title="Xem nhanh"
                                                       data-toggle="modal"
                                                       data-target="@target1">
                                                        <i class="fas fa-compress-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @if (listBookNewest[i].khuyenMai > 0)
                                        {
                                            <div style="width: 15%; z-index: 999; position: absolute; top: 0; right: 0;">
                                                <img src="~/Assets/Client/img/sale.png" alt="" />
                                                <p style="font-size: 14px; position: absolute; left: 15%; top: 55%; transform: translate(0, -50%); color: white;">
                                                    @listBookNewest[i].khuyenMai%
                                                </p>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px;">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookNewest[i].maSach})">@listBookNewest[i].tenSach </a>
                                                </div>
                                                <div style="color: #32b5f3;" class="price-2">
                                                    @{var newPrice = (listBookNewest[i].gia * 1000) - (listBookTopSell[i].gia * 1000 * listBookNewest[i].khuyenMai / 100);}
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", newPrice)đ
                                                    <span style="color: black;" class="old-price">
                                                        @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookNewest[i].gia * 1000)đ
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        @if (listBookNewest[i].khuyenMai == 0)
                                        {
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookNewest[i].maSach})">
                                                        @listBookNewest[i].tenSach
                                                    </a>
                                                </div>
                                                <div style="color: #32b5f3" class="price-2">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookNewest[i].gia * 1000)<span>đ</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="sale">
                    <div class="featured-product-list indicator-style">
                        @for (var i = 0; i < listBookTopSell.Count; i++)
                        {
                            <div class="single-p-banner">
                                <div class="col-md-3">
                                    <div class="single-banner">
                                        <div class="product-wrapper">
                                            <a href="@Url.Action("SingleProduct", "Shop", new {id =listBookTopSell[i].maSach})" class="single-banner-image-wrapper">
                                                <img alt="" src="@listBookTopSell[i].hinhAnh" />
                                            </a>
                                            <div class="product-description">
                                                <div class="functional-buttons">
                                                    <a title="Thêm vào giỏ hàng " href="#" class="add-item-to-cart" data-id="@listBookTopSell[i].maSach">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" title="Thêm vào danh sách yêu thích" class="add-item-to-wishlist" data-id="@listBookTopSell[i].maSach">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                    @{
                                                        var target = "#productModal" + listBookTopSell[i].maSach;
                                                    }
                                                    <a href="#"
                                                       title="Xem nhanh"
                                                       data-toggle="modal"
                                                       data-target="@target">
                                                        <i class="fas fa-compress-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @if (listBookTopSell[i].khuyenMai > 0)
                                        {
                                            <div style="width: 15%; z-index: 999; position: absolute; top: 0; right: 0;">
                                                <img src="~/Assets/Client/img/sale.png" alt="" />
                                                <p style="font-size: 14px; position: absolute; left: 15%; top: 55%; transform: translate(0, -50%); color: white;">
                                                    @listBookTopSell[i].khuyenMai%
                                                </p>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px;">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookTopSell[i].maSach})">@listBookTopSell[i].tenSach </a>
                                                </div>
                                                <div style="color: #32b5f3;" class="price-2">
                                                    @{var newPrice = (listBookTopSell[i].gia * 1000) - (listBookTopSell[i].gia * 1000 * listBookTopSell[i].khuyenMai / 100);}
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", newPrice)đ
                                                    <span style="color: black;" class="old-price">
                                                        @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookTopSell[i].gia * 1000)đ
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        @if (listBookTopSell[i].khuyenMai == 0)
                                        {
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookTopSell[i].maSach})">
                                                        @listBookTopSell[i].tenSach
                                                    </a>
                                                </div>
                                                <div style="color: #32b5f3" class="price-2">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookTopSell[i].gia * 1000)<span>đ</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-banner">
                                        <div class="product-wrapper">
                                            <a href="@Url.Action("SingleProduct", "Shop", new {id =listBookTopSell[++i].maSach})" class="single-banner-image-wrapper">
                                                <img alt="" src="@listBookTopSell[i].hinhAnh" />
                                            </a>
                                            <div class="product-description">
                                                <div class="functional-buttons">
                                                    <a title="Thêm vào giỏ hàng " href="#" class="add-item-to-cart" data-id="@listBookTopSell[i].maSach">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" title="Thêm vào danh sách yêu thích" class="add-item-to-wishlist" data-id="@listBookTopSell[i].maSach">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                    @{
                                                        var target1 = "#productModal" + listBookTopSell[i].maSach;
                                                    }
                                                    <a href="#"
                                                       title="Xem nhanh"
                                                       data-toggle="modal"
                                                       data-target="@target1">
                                                        <i class="fas fa-compress-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @if (listBookTopSell[i].khuyenMai > 0)
                                        {
                                            <div style="width: 15%; z-index: 999; position: absolute; top: 0; right: 0;">
                                                <img src="~/Assets/Client/img/sale.png" alt="" />
                                                <p style="font-size: 14px; position: absolute; left: 15%; top: 55%; transform: translate(0, -50%); color: white;">
                                                    @listBookTopSell[i].khuyenMai%
                                                </p>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px;">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookTopSell[i].maSach})">@listBookTopSell[i].tenSach </a>
                                                </div>
                                                <div style="color: #32b5f3;" class="price-2">
                                                    @{var newPrice = (listBookTopSell[i].gia * 1000) - (listBookTopSell[i].gia * 1000 * listBookTopSell[i].khuyenMai / 100);}
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", newPrice)đ
                                                    <span style="color: black;" class="old-price">
                                                        @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookTopSell[i].gia * 1000)đ
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        @if (listBookTopSell[i].khuyenMai == 0)
                                        {
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title" style="height: 40px">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new {id = listBookTopSell[i].maSach})">
                                                        @listBookTopSell[i].tenSach
                                                    </a>
                                                </div>
                                                <div style="color: #32b5f3" class="price-2">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", listBookTopSell[i].gia * 1000)<span>đ</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Product Area End -->
<!-- Counter Area Start -->
<div class="counter-area section-padding text-center"
     style="margin-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single-counter wow"
                     data-wow-duration="1.5s"
                     data-wow-delay=".3s">
                    <div class="counter-info">
                        <span class="fcount">
                            <span class="counter">3725</span>
                        </span>
                        <h3>ĐẦU SÁCH</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single-counter wow"
                     data-wow-duration="1.5s"
                     data-wow-delay=".3s">
                    <div class="counter-info">
                        <span class="fcount">
                            <span class="counter">950</span>
                        </span>
                        <h3>NGƯỜI DÙNG</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single-counter wow"
                     data-wow-duration="1.5s"
                     data-wow-delay=".3s">
                    <div class="counter-info">
                        <span class="fcount">
                            <span class="counter">1450</span>
                        </span>
                        <h3>TÁC GIẢ HAY</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="single-counter wow"
                     data-wow-duration="1.5s"
                     data-wow-delay=".3s">
                    <div class="counter-info">
                        <span class="fcount">
                            <span class="counter">62</span>
                        </span>
                        <h3>GIẢI THƯỞNG</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Area End -->
<!-- News Letter Area Start -->
<div class="newsletter-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter-title">
                    <h2>ĐĂNG KÍ NHẬN BẢN TIN WITTER</h2>
                    <p>
                        Hàng ngàn sản phẩm và chương trình khuyến mãi siêu hấp dẫn đang
                        chờ bạn.
                    </p>
                </div>
                <div class="letter-box">
                    <form action="#" method="post" class="search-box">
                        <div>
                            <input type="text" placeholder="Địa chỉ email của bạn ..." />
                            <button type="submit" class="btn btn-search">
                                ĐĂNG KÍ<span><i class="flaticon-school-1"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Letter Area End -->
<!-- Modal for add item to cart success-->
<div class="modal fade" style="z-index:9999" id="addItemSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #32b5f3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                Thêm vào giỏ hàng thành công
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="display: inline-block; background: #efefef; color: black" id="closeModal" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default" style="display: inline-block" id="redirectShoppingCart">Đến giỏ hàng</button>
            </div>
            <script>
                    $("#closeModal").on("click", function () {
                        $("#addItemSuccess").removeClass("show");
                        $("#addItemSuccess").addClass("fade");
                    })

                    $("#redirectShoppingCart").on("click", function () {
                        window.location.replace("@Url.Action("Index", "Cart")");
                    })
            </script>
        </div>
    </div>
</div>
<!-- Modal for add item to cart success-->
<!-- Need to signIn-->
<div class="modal fade" style="z-index:9999" id="needToSignIn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #32b5f3">
            </div>
            <div class="modal-body" style="text-align: center">
                Ban cần đăng nhâp để thêm vào sản phẩm yêu thích
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="display: inline-block; background: #efefef; color: black" id="closeNeedToSignIn" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-default" style="display: inline-block" id="redirectSignIn">Đăng nhâp</button>
            </div>
            <script>
                    $("#closeNeedToSignIn").on("click", function () {
                        $("#needToSignIn").removeClass("show");
                        $("#needToSignIn").addClass("fade");
                    })

                    $("#redirectSignIn").on("click", function () {
                        window.location.replace("@Url.Action("SignIn", "Login")");
                    })
            </script>
        </div>
    </div>
</div>
<!-- Need to signIn-->
<!-- Modal for add item to wishlist success-->
<div class="modal fade" style="z-index:9999" id="addItemToWishList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #32b5f3">
            </div>
            <div class="modal-body" style="text-align: center">
                Đã thêm vào danh sách yêu thích
            </div>
        </div>
    </div>
</div>
<!-- Modal for add item to wishlist success-->
<!--Quickview Product Start -->
<div id="quickview-wrapper">
    <!-- Modal -->
    @foreach (var book in listBookTopSell)
    {
        var target = "productModal" + book.maSach;<div class="modal fade" id="@target" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product" style="display: flex;">
                            <div class="product-images" style="width: 60%;">
                                <div class="main-image images" style="position: relative;">
                                    <img alt="" src="@book.hinhAnh" />
                                    @{
                                        var khuyenMai = book.khuyenMai;
                                    }
                                    @if (khuyenMai > 0)
                                    {
                                        <div style=" width: 18%; z-index: 999; position: absolute; top: 0; right: 0; ">
                                            <img src="~/Assets/Client/img/sale.png" alt="" />
                                            <p style=" font-size: 18px; color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
                                                @khuyenMai%
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="product-info">
                                <h1 style="font-size: 22px;">@book.tenSach</h1>
                                <div class="price-box">
                                    @if (khuyenMai > 0)
                                    {
                                        var newPrice = (book.gia * 1000) - (book.gia * 1000 * khuyenMai / 100);
                                        <p class="s-price">
                                            <span class="special-price">
                                                <span class="amount" style="font-size: 25px;">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", newPrice)đ
                                                </span>
                                            </span>
                                            <span style="color: black;" class="old-price">
                                                @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", book.gia * 1000)đ
                                            </span>
                                        </p>
                                    }
                                    @if (khuyenMai == 0)
                                    {

                                        <p class="s-price">
                                            <span class="special-price">
                                                <span class="amount" style="font-size: 25px">
                                                    @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", book.gia * 1000)đ
                                                </span>
                                            </span>
                                        </p>
                                    }
                                </div>
                                <a href="@Url.Action("SingleProduct", "Shop", new {id = book.maSach})" class="see-all">Xem chi tiết</a>
                                <div class="quick-add-to-cart">
                                    <a style=" display: flex; justify-content: center;  align-items: center; " class="single_add_to_cart_button add-item-to-cart"
                                       data-id="@book.maSach"
                                       href="#">
                                        Mua Ngay
                                    </a>
                                </div>
                                <div style="height: 300px; overflow-y: scroll;"
                                     class="quick-desc">
                                    @book.moTa
                                </div>
                            </div>
                            <!-- .product-info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<!--End of Quickview Product-->
