@using Model.EF;
@using System.Globalization;
@{
    ViewBag.Title = "removeItem";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ShoppingCart shoppingCart = (ShoppingCart)Session["shoppingCart"];
}
@section jsFooter{
    <script src="~/Assets/Client/js/controller/shopController.js"></script>
}
<!-- Breadcrumbs Area Start -->
<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h2>Giỏ Hàng</h2>
                    <ul class="breadcrumbs-list">
                        <li>
                            <a title="Return to Home" href="@Url.Action("Index","Home")">Trang chủ</a>
                        </li>
                        <li>Giỏ Hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs Area Start -->
<!-- Cart Area Start -->
<div class="shopping-cart-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                @if (shoppingCart.total == 0)
                {
                    <div class="product" style="justify-content:center;align-items:center; padding: 20px">
                        <h3 style="margin:0">Hiện chưa có sản phẩm</h3>
                    </div>
                    <div class="shopingcart-bottom-area" style="margin-bottom: 30px;">
                        <a class="left-shoping-cart" href="@Url.Action("Index","Shop")">Tiếp tục mua sắm</a>
                    </div>
                }
                @if (shoppingCart.total != 0)
                {
                    foreach (var item in shoppingCart.listItem)
                    {
                        <div class="product">
                            <div style="display: flex; align-items: center; width: 90%;">
                                @if (item.book.khuyenMai > 0)
                                {
                                    <div class="img-product"
                                         style="position: relative; margin-right: 20px;">
                                        <img src="@item.book.hinhAnh" alt="" />
                                        <div style="width: 20%;z-index: 999;position: absolute;top: 0; right: 0;">
                                            <img src="~/Assets/Client/img/sale.png" alt="" />
                                            <p style="font-size: 10px;color: white;position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);">
                                                @item.book.khuyenMai%
                                            </p>
                                        </div>
                                    </div>
                                }
                                @if (item.book.khuyenMai == 0)
                                {
                                    <div class="img-product" style="margin-right: 20px">
                                        <img src="@item.book.hinhAnh" alt="">
                                    </div>
                                }
                                <div class="title-product">
                                    <h4>
                                        <a href="@Url.Action("SingleProduct","Shop", new { id = item.book.maSach})">@item.book.tenSach</a>
                                    </h4>
                                    @if (item.book.khuyenMai > 0)
                                    {
                                        <p>
                                            <span id="@item.book.maSach">@item.quantity x @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.price * 1000)đ</span>
                                            <span style="color: black;" class="old-price">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.book.gia * 1000)đ</span>
                                        </p>
                                    }
                                    @if (item.book.khuyenMai == 0)
                                    {
                                        <p>
                                            <span id="@item.book.maSach">@item.quantity</span>
                                            x @String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.price * 1000)đ
                                        </p>

                                    }
                                    <a class="remove-item" href="#" data-id="@item.book.maSach">
                                        <i class="flaticon-delete"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="quantity-product" style="width: 20%;">
                                <span class="pull-left" id="quantity-wanted-p">
                                    <span class="dec qtybutton">-</span>
                                    <!-- <p style="display: none"><%=cart.gioHang.get(i).getMaSach()%></p> -->
                                    <input type="text" value="@item.quantity" class="cart-plus-minus-box" />
                                    <span class="inc qtybutton">+</span>
                                </span>
                            </div>
                        </div>
                    }
                    <div class="shopingcart-bottom-area" style="margin-bottom: 30px;">
                        <a class="left-shoping-cart" href="@Url.Action("Index","Shop")">Tiếp tục mua sắm</a>
                        <div class="shopingcart-bottom-area pull-right">
                            <a class="right-shoping-cart" href="#">Xóa tất cả sản phẩm</a>
                        </div>
                    </div>
                }
            </div>
            <!-- <%  int khuyenMai = 0;
                if(request.getAttribute("khuyenMai") != null){
                khuyenMai = (int) request.getAttribute("khuyenMai");
            }%> -->
            <div class="col-md-4 col-sm-12">
                <div class="subtotal-main-area">
                    <div class="subtotal-area">
                        @if (shoppingCart.total != 0)
                        {
                            <h2 style="padding: 20px;">
                                Tạm tính<span id="tamTinh">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", shoppingCart.total * 1000)đ</span>
                            </h2>
                        }
                        @if (shoppingCart.total == 0)
                        {
                            <h2 style="padding: 20px;">
                                Tạm tính<span id="tamTinh">0đ</span>
                            </h2>
                        }
                    </div>
                    <!-- <%if (khuyenMai > 0) {%>
                      <div class="subtotal-area">
                          <h2 style="padding: 20px">Mã khuyến mãi<span id="tamTinh1"><%=khuyenMai%>%</span></h2>
                      </div>
                      <%}%> -->
                    <div class="subtotal-area">
                        <!-- <%if (khuyenMai > 0) {%> -->
                        @if (shoppingCart.total != 0)
                        {
                            <h2 style="font-size: 28px; padding: 20px;">
                                Tổng tiền<span id="tongTien1" style="color: #32b5f3;">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", shoppingCart.total * 1000)đ</span>
                            </h2>
                        }
                        @if (shoppingCart.total == 0)
                        {
                            <h2 style="font-size: 28px; padding: 20px;">
                                Tổng tiền<span id="tongTien1" style="color: #32b5f3;">0đ</span>
                            </h2>
                        }
                        <!-- <%} else {%>
                        <h2 style="font-size: 28px;padding: 20px">Tổng tiền<span id="tongTien" style="color: #32b5f3;"><%=cart.tongTien()%>.000đ</span>
                        </h2>
                        <%}%> -->
                    </div>
                    <p style="padding: 20px;">Chúc quý khách mua hàng vui vẻ</p>
                </div>
                <div class="shopingcart-bottom-area"
                     style="
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
              ">
                    <a class="left-shoping-cart"
                       style="padding: 10px 60px; border-radius: 10px;"
                       href="#">Thanh toán</a>
                </div>

                <div class="discount-main-area">
                    <div style="padding: 20px;" class="discount-top">
                        <h3>Mã giảm giá</h3>
                        <p>Nhập mã giảm giá của bạn nếu có</p>
                    </div>
                    <form method="post" action="">
                        <div style="padding: 20px;" class="discount-middle">
                            <input type="text"
                                   name="codeSale"
                                   placeholder="Nhập mã giảm giá" />
                            <input type="submit" value="Áp dụng" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Area End -->
