@using Model.EF;
@using System.Globalization;

<!--Header Area Start-->

<div class="header-area">
    <div class="container">
        <div class="row header-header">
            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="header-logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Assets/Client/img/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-sm-6 visible-sm col-xs-6">
                <div class="header-right">
                    <ul>
                        <li class="user-login">
                            <a href="#">

                                <i class="flaticon-people"></i>
                            </a>
                            <div class="sub-user">
                                @if (Session["UserId"] == null)
                                {
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-user-plus"></i>
                                            <a href="@Url.Action("SignUp", "Login")">Đăng kí</a>
                                        </div>
                                    </div>
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <a href="@Url.Action("SignIn", "Login")">Đăng nhập</a>
                                        </div>
                                    </div>

                                }

                                @if (Session["UserId"] != null)
                                {
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="flaticon-people"></i>
                                            <a href="@Url.Action("Index", "Account")">
                                                Xin chào @Session["UserEmail"]
                                            </a>
                                        </div>
                                    </div>

                                    if (Session["UserLevel"].Equals("2"))
                                    {
                                        <div class="user-item">
                                            <div class="sign-in">
                                                <i class="fas fa-user-cog"></i>
                                                <a href="">Admin</a>
                                            </div>
                                        </div>
                                    }

                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <a href="">
                                                Đăng xuất
                                            </a>
                                        </div>
                                    </div>
                                    <div class="user-item">
                                        <div class="listwish">
                                            <i class="far fa-heart"></i><a href="@Url.Action("Index", "WishList")">Theo dõi</a>
                                        </div>
                                    </div>

                                }


                            </div>
                        </li>
                        <li class="shoping-cart">
                            <a href="#">
                                <i class="flaticon-shop"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 hidden-xs">
                <div class="mainmenu text-center">
                    <nav>
                        <ul id="nav">
                            <li><a href="@Url.Action("Index", "Shop")">Sách</a></li>
                            <li><a href="@Url.Action("Sale", "Shop")">Khuyến mãi</a></li>
                            <li><a href="#footer">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-1 hidden-sm">
                <div class="header-right">
                    <ul>
                        <li class="user-login">
                            <a>
                                <i class="flaticon-people"></i>
                            </a>
                            <div class="sub-user">
                                @if (Session["UserId"] == null)
                                {
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-user-plus"></i>
                                            <a href="@Url.Action("SignUp", "Login")">Đăng kí</a>
                                        </div>
                                    </div>
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <a href="@Url.Action("SignIn", "Login")">Đăng nhập</a>
                                        </div>
                                    </div>

                                }

                                @if (Session["UserId"] != null)
                                {
                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="flaticon-people"></i>
                                            <a href="@Url.Action("Index", "Account")">
                                                Xin chào @Session["UserEmail"]
                                            </a>
                                        </div>
                                    </div>

                                    if (Session["UserLevel"].Equals("2"))
                                    {
                                        <div class="user-item">
                                            <div class="sign-in">
                                                <i class="fas fa-user-cog"></i>
                                                <a href="">Admin</a>
                                            </div>
                                        </div>
                                    }

                                    <div class="user-item">
                                        <div class="sign-in">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <a href="">
                                                Đăng xuất
                                            </a>
                                        </div>
                                    </div>
                                    <div class="user-item">
                                        <div class="listwish">
                                            <i class="far fa-heart"></i><a href="@Url.Action("Index", "WishList")">Theo dõi</a>
                                        </div>
                                    </div>

                                }
                            </div>
                        </li>
                        <li class="shoping-cart">
                            <a href="@Url.Action("Index", "Cart")">
                                <i class="flaticon-shop"></i>
                                @{
                                    ShoppingCart shoppingCart = (ShoppingCart)Session["shoppingCart"];
                                    var numItems = shoppingCart.getNumItems();
                                }
                                @if (numItems > 0)
                                {
                                    <span>@numItems</span>
                                }
                            </a>
                            @if (numItems > 0)
                            {
                                <div class="add-to-cart-product">
                                    <div style="max-height: 300px;overflow-y: scroll">
                                        @foreach (Item item in shoppingCart.listItem)
                                        {
                                            <div class="cart-product">
                                                <div class="cart-product-image" style="position: relative">
                                                    <a href="@Url.Action("SingleProduct","Shop", new { id = item.book.maSach})">
                                                        <img src="@item.book.hinhAnh" alt="">
                                                    </a>
                                                </div>
                                                <div class="cart-product-info">
                                                    <a href="@Url.Action("SingleProduct", "Shop", new { id = item.book.maSach })">@item.book.tenSach</a>
                                                    <p class="cart-price">
                                                        @if (item.book.khuyenMai > 0)
                                                        {
                                                            <b id="@item.book.maSach" style="font-weight: 100">@item.quantity</b><span>x</span><span>@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.price * 1000)đ</span>
                                                            <span style="color: black; font-size: 13px" class="old-price">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.book.gia * 1000)đ</span>
                                                        }
                                                        @if (item.book.khuyenMai == 0)
                                                        {
                                                            <span>@item.quantity</span><span>x</span><span>@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", item.price * 1000)đ</span>
                                                        }
                                                    </p>
                                                </div>
                                                <a class="remove-item-from-cart" data-id="@item.book.maSach" href="#">
                                                    <div class="cart-product-remove">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="total-cart-price">
                                        <div class="cart-product-line">
                                            <span>Tổng Cộng :</span>
                                            <span id="total">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", shoppingCart.total * 1000)đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-checkout">
                                        <a href="@Url.Action("Index","Cart")">Thanh Toán<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Header Area End-->
<!-- Mobile Menu Start -->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="@Url.Action("Index","Shop")">Sách</a></li>
                            <li><a href="@Url.Action("Sale","Shop")">Khuyến mãi</a></li>
                            <li><a href="#footer">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu End -->
